#SQL Basics Assignment Answers

Q1. Create a New Database and Table for Employees

In [ ]:
CREATE DATABASE company_db;
USE company_db;

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

Q2. Insert Data into Employees Table

In [ ]:
INSERT INTO employees VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10');

Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

In [ ]:
SELECT *
FROM employees
ORDER BY salary ASC;

Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)

In [ ]:
SELECT *
FROM employees
ORDER BY department ASC, salary DESC;

Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)

In [ ]:
SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

Q6. Create and Populate a Sales Table

In [ ]:
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

Insert Data
INSERT INTO sales VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

Q7. Display All Sales Records Sorted by Amount (Highest → Lowest)

In [ ]:
SELECT *
FROM sales
ORDER BY amount DESC;

Q8. Show All Sales Made by Customer “Aditi”

In [ ]:
SELECT *
FROM sales
WHERE customer_name = 'Aditi';

Q9. Difference Between Primary Key and Foreign Key

Primary Key

Uniquely identifies each record in a table

Cannot contain NULL values

One primary key per table

Foreign Key

Refers to the primary key of another table

Can contain duplicate values

Used to maintain relationship between tables

Q10. What Are Constraints in SQL and Why Are They Used?

Constraints are rules applied to table columns to ensure data accuracy and integrity.

Common Constraints:

PRIMARY KEY – uniquely identifies a record

NOT NULL – prevents NULL values

UNIQUE – ensures unique values

CHECK – applies a condition

FOREIGN KEY – maintains table relationships

Why used:
To prevent invalid data, enforce business rules, and maintain database consistency.